{{>header }}
<title>Create quiz page</title>
<h2>{{message}}</h2>
<div class="create-quiz-container">
	<h1>Create quiz</h1>
	<form class="create-quiz-form" method="post" action="/quiz/add">
		<label for="quizName">Quiz name:</label></br>
		<input id="quizName" name="quizName" class="edit-input"></br>
		<label for="quizDescription">Quiz description:</label></br>
		<input id="quizDescription" name="quizDescription" class="edit-input">
		<input class="submit-form" type="submit" value= "Save"/>
	</form>
</div>