</style> 
</head> 
<body> 
<div id="navbar" class="navbar"> 
  <ul>
	<li><a href="/quiz/all">Quiz list</a></li>
  {{#if permission.edit}}
  <li><a href="/quiz/new">Create quiz</a></li>
  {{/if}}
   <li><a href="/log-out">Log out</a></li>
  </div>
</div></li> 
  </ul> 
</div> 
</body> 
</html>