<div class="container" id="container">
	<div class="form-container sign-up-container">
	</div>
	<div class="form-container sign-in-container">
		<form class="sign-in-form" action="/" method="post">
			<h1>Log in</h1>
      <label for="username"></label>
			<input class="input" id="username" name="username" type="text" placeholder="Username" />
      <label for="password"></label>
			<input class="input" id="password" name="password" type="password" placeholder="Password" />
			<input class="submit-form" type="submit" value= "Log in"/>
      <p>{{error}}</p>
		</form> 
    <p>{{error}}</p>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, welcome to x name!</h1>
				<p>Thank you for x with us!</p>
			</div>
		</div>
	</div>
</div>